
.header__slide{
    display: block;
    width: 100%;
  
    position: relative;
     overflow: hidden;
     margin-bottom: 3rem;
    
}
.fist{
    margin-left: -20%;
}
ul{
    list-style: none;   
}
.header__slide--list{
    width: 100%;
    height: 377px;
    display: flex;
   
}
.header__slide--item{
    width: 100%;
  transition: 2s;
}
.header__slide--list img{
    width: 100%;

}
.circle__list{
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    bottom: 1rem;

}
.header__slide .fas{
    display: block;
    font-size: 8rem;
    color: rgba(43, 42, 41, 0.719);
    right: 2rem;
    bottom: 40%;
    
}
.fa-chevron-left{
    left: 2rem;
}
.fa-chevron-right{
    right: 2rem;
}
.point{
    position: absolute;
   z-index: 100; 
   
}
.circle__item input{
    display: block;
    margin-right: 1.4rem;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: rgba(83, 81, 78, 0.589);
    border-radius: 50%;

    cursor: pointer;
}

