

.content .wrap {
    flex-direction: row;
    display: flex;
    flex: 1 0 auto;
    padding: 0 2em;
    max-width: 95em;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 auto;
}

.main {
    width: 52%;
    padding: 2em 2em 0 2em;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.main__header {
    padding-bottom: 1.5em;
    display: block;
}

.main .logo {
    display: block;
}

.logo--left {
    text-align: left;
}

.logo__image--small {
    max-height: 3.85714em;

}

.main__content {
    padding-bottom: 1.5em;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
    display: block;
}

.row:first-child>.col:first-child {
    padding-top: 0;
}

.col--two {
    width: 50%;
}

.col {
    padding-left: 1em;
    padding-right: 1em;
    float: left;
    box-sizing: border-box;
    display: block
}

.section:first-child {
    padding-top: 0;
}

.section__header {
    margin-bottom: 12px;
}

.section__title, .modal__title, .sidebar__title, .order-summary-toggle__text {
    color: #333;
    font-weight: 600;
    font-size: 1.15rem;
}

.layout-flex__item--stretch {
    flex: 1 1 auto;
}

.fieldset {
    margin: -0.4em;
}

.field {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0.4em;
    display: block;
}

.field__input-wrapper {
    position: relative;
}

.animate-floating-labels .field__label {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

.floating-labels .field__label {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin-top: 0.4em;
    margin-left: 1px;
    padding: 0 0.8em;
    color: #999;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    font-size: 1em;
    transform: translateY(6px);
}
.field__label {
    text-align: left;
    margin: 0.5em 0;
    display: block;
}

.field__input {
    border-radius: 4px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0.94em 0.8em;
    border: 1px #d9d9d9 solid;
    height: 44px;
    background-color: #fff;
    color: #333;
}

.floating-labels .field--show-floating-label .field__label {
    transform: none;
    font-size: .84em;
    padding-left: 0.9em;
}

.radio-wrapper:after, .radio-wrapper:before, .checkbox-wrapper:after, .checkbox-wrapper:before {
    content: "";
    display: table;
}

/* .field__input, .input-checkbox, .input-radio, button, textarea {
    font: inherit;
    margin: 0;
    -webkit-font-smoothing: inherit;
    background: transparent;
    line-height: normal;
} */

/* input {
    writing-mode: horizontal-tb !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
} */





.sidebar {
    width: 35%;   
    background-color: #fafafa;
    border-left: #717171;
    color: #717171;
    position: relative;
    display: block;
}