.product-detail{
    display: flex;
    margin-top: 4rem;

    &__left {
        width: 40%;
        display: block;
        margin-right: 3rem;
        &--bottom{
            display: flex;
            width: 100%;
        }
        &--item{
            width: 100%;
            display: block;
            
        }
        &--img{
            display: block;
        }
        &--large{
            margin-bottom: 3rem;
        }
        
        &--item + &--item{
            margin-left: 1rem;
        }
        &--active{
            border: 1px solid red !important;
        }
    }
    &__right{
        width: 55%;
        &--title{
            font-size: 1.8rem;
            font-weight: 500;
            margin: 1rem 0;
        }
        &--price{
           font-size: 1.8rem; 
           color:#ed1c24;
           margin-bottom: 2rem;
           &-old{
               font-size: 1.4rem;
               text-decoration: line-through;
               color: #959595;
               margin-left: 0.6rem;
               
           }
        }
        &--info{
            font-size: 1.2rem;
            color: #7d7d7d;
            padding: 3rem 0;
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
        }
        &--amount{
            padding: 3rem 0;
            border-bottom: 1px solid #e1e1e1;
            display: flex;
            a:hover{
                cursor: pointer;
                background-color: #e1e1e1;
            }
            input{
                width: 5rem;
                text-align: center;
                border: 1px solid #e1e1e1;
                margin-right: 0.8rem;
            }
            .btn--amount{
                
                font-size: 1.4rem;
                color: #363533;
                padding: 1.2rem 2rem;
                border: 1px solid #e1e1e1;
                margin-right: 0.8rem;
            }
            .title{
                border:  none;
            }
        }
        &--btn{
            display: block;
            position: relative;
            width: 100%;
            margin-top: 4rem;
            margin-bottom: 18rem;
            .btn--buy:hover{
                opacity: 0.8;
            }
            .btn--show{
                margin-left: 2rem;
                padding: 1.3rem 1.5rem;
                border: 1px solid #e1e1e1;
                border-radius: 50%; 
                opacity: 0.6;
                &:hover{
                    background-color: #e1e1e1 !important;
                }
            }
        }
        
    }
}
// style product information
.product-info{
    &__nav{
        display: flex;
    }
    &--item{
        display: block;
        width: calc(100%/3);
        text-align: center;
        font-size: 1.4rem;
        color: 6f6f6e;
        padding: 0.8rem 0;
        border-bottom: 1px solid #e1e1e1;
        &:hover{
            color: #68ba8f;
        }
        
    }
    &--active{
        color: #68ba8f;
        border-top:2px solid;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        border-bottom: none;
    }
    &__detail{
        font-size: 1.3rem;
        padding: 4rem;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 6rem;
    }
}
.product-same{
    padding-top: 4rem;
    border-top: 1px solid #e1e1e1;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5rem;
  
    &__inner{
        width: 104%; 
        display: block;
        
    }
    &__list{
        display: flex;
        width: calc(200%);
        transition: all 0.5s;
    }
    .product{
        &__btn{
            margin-top: 5rem;
            .btn{
                padding: 1.2rem 1.2rem;
                border-radius: 3rem; 
              
                 &--buy{
                    background-color: #3fb771;
                    color: #ffffff;
                    padding: 1.3rem 2.5rem;
                 } 
                 &--show{
                     font-size: 1.4rem;
                     background-color: #ffffff;
                 }
            
            }
        }
       
        
    }
   
}