.register {
    display: block;
    margin-top: 6rem;

    &__title {
        display: block;
        width: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        color: #68ba8f;
        padding-bottom: 3rem;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;

        &--group {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            input {
                width: 90%;
                padding: 1rem;
                font-size: 1.4rem;
                border: 1px solid #e1e1e1;
                border-radius: 2px;
                margin: 1rem 0;
            }

            label {
                font-size: 1.2rem;
                color: #000000;

                span {
                    color: red;
                }
            }


        }

        &--notice {
            font-size: 1.2rem;
            margin-bottom: 6rem;
        }

        &--btn {
            display: inline-block;
            margin-top: 6rem;
            margin-bottom: 10rem;

            .btn {
                font-size: 1.3rem;
                font-weight: 500;
                padding: 1.3rem 3rem;
                margin-right: 2rem;

                &:hover {
                    opacity: 0.7;
                }

                &--back {
                    border: 1px solid;

                    &:active {
                        border: 1px solid 3fb771;
                        color: #ffffff;
                        background-color: #3fb771;
                    }
                }

                &--register {
                    color: #ffffff;
                    background-color: #3fb771;

                    &:active {
                        border: 1px solid;
                        color: #3fb771;
                        background-color: #ffffff;
                    }
                }
            }
        }

    }
}
@media screen and (max-width: 1023px) {
    .register {
        &__form {
           flex-direction: column; 
           &--group {
            width: 100%;
        }
        }
        
    }
}