$text-color: #555555;
$color-primary :#3fb771;
$text-white: #ffffff;
.cart{
    &__title{
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-primary;
        margin: 3rem 2rem;
    }
    &__table{
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        color: #898989;
        thead{
            background-color: #3fb771;
            color: $text-white;
            font-size: 1.4rem;
            th{
                padding:2rem 5rem;
            }
        }
        tbody{
            tr{
                th:nth-child(2){
                    a{
                        font-weight: 300 !important;
                        color: #3fb771 !important;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                   
                }
            }
           
        }
    }
    
    table,tr,th{
        border: 1px solid #ebebeb; 
        padding: 1.4rem;
      
    }
    input{
        max-width: 5rem;
        padding: 1.5rem 1rem 1.5rem 1rem;
        border: 1px solid #e1e1e1;
        text-align: center;
    }
    th{
        vertical-align: middle;
      
    }
    img{
        max-width: 15.5rem;
        margin: 0 auto;
    }
    &__btn{
        .btn{
            padding: 1.4rem 3rem;
        }
        .btn+.btn{
            margin-left: 2rem;
        }
        display: block;
        padding-top: 4.5rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: end;
        &--delete{
            color: $color-primary;
            background-color: #ffffff;
            border: 1px solid;
            &:hover{
               opacity: 0.6;
            }
        }
        &--continue{
            color: $text-white;
            background-color: $color-primary;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    &__pay{
       
        margin-top: 7rem;
        padding-bottom: 20rem;
        margin-bottom: 10rem;
        width: 100%;
        position: relative;
        table{
            font-size: 1.4rem;
            width: 50%;
            color: #3fb771;
            font-weight: 500;
        }
        table,&--btn{
            position: absolute;
            right: 0;
        }
    
        &--btn{
            display: block;
            top:100%;
            
        }
        tfoot{
            background-color: #3fb771;
            color: $text-white;
        }
    }
    &__btn{
        &--pay{
            font-size: 1.4rem;
            font-weight: 500;
            padding: 1.4rem 3rem;
            color: $text-white;
            background-color: $color-primary;
            &:hover{
                opacity: 0.7;
            }
        } 

     }
}


@media screen and (max-width:1023) {
    .cart{
        font-size: 1.3rem;
    }
}